<div class="row2">
  <div class="head-st">
    <span class="hd-stdm"><img src="<%= images%>"/></span>

    <div class="nav">
      <a href="javascript:" class="return"><i class="pre-icon"></i></a>
    </div>
    <div class="big-pat v-overlay-large"></div>
    <div class="stdm-detal">
      <h3><%= name%></h3>
      <ul id="j_stadium_tab" class="plan">
        <li class="plan-now"><a href="javascript:void(0);">场馆介绍</a></li>
        <li><a href="javascript:void(0);">场馆视频</a></li>
      </ul>
    </div>
  </div>

  <div id="j_stadium_tab_content" class="wrapper2">
    <p></p>

    <p></p>
  </div>

</div>